img{
    width : 200px;
    border-radius: 10%;
}
body{
    text-align: center;
    font-family: "Comic Sans MS";
    background-color: #76b2f2;
    color: #ffffff;
}
h1{
    font-size: 300%;
}
h1:hover{
    color: #674aa8;
}
p{
    font-size: 200%;
}
.test-class1{
    font-size: 400%;
}
.Test-Class2{
    width : 300px;
}
.coolFont{
font-family: 'Revalia', cursive;

}
#roarer:hover{
    color: #40bbe8;
    
}
