body{
    background-color: #aff268;
    text-align: center;
}

.truthin{
    font-family: "Comic Sans MS"
    
}
#title{
    font-size: 100px;
}

#text_input{
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    width: 450px;
    height: 75px;
}

#go{
    width: 300px;
    height: 100px;
    border-radius: 10px;
    border-color: black;
    background-color: #54e5e5;
    font-size: 50px;
    color: white;
    font-family: 'Oswald', sans-serif;
}

#output{
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
}





